// MIXIN DE  MEDIA QUERIES
@mixin mediaqueries-celu-s{
	.banner-index {
        height: 80vh;
    }
    .banner-recetas{
        height: 60vh;
    }
    .banner-quienessomos{
        height: 50vh;
    }
    .banner-novedades{
        height: 60vh;
    }
    .banner-contacto{
        height: 50vh;
    }
}

@mixin mediaqueries-celu-xl{
    .banner-index {
        height: 100vh;
    }
    .banner-recetas{
        height: 50vh;
    }
    .banner-quienessomos{
        height: 45vh;
    }
    .banner-novedades{
        height: 45vh;
    }
    .banner-contacto{
        height: 50vh;
    }
}

@mixin mediaqueries-tablet{
    .banner-index {
        height: 125vh;
    }
    .banner-recetas{
        height: 45vh;
    }
    .banner-quienessomos{
        height: 40vh;
    }
    .banner-novedades{
        height: 45vh;
    }
    .banner-contacto{
        height: 45vh;
    }
}

@mixin mediaqueries-desktop{
    .banner-index {
        height: 55vh;
    }
    .banner-recetas{
        height: 50vh;
    }
    .banner-quienessomos{
        height: 50vh;
    }
    .banner-novedades{
        height: 50vh;
    }
    .banner-contacto{
        height: 50vh;
    }
}

// MIXIN DE ANIMACIONES DE LOS PRESENTACIONES
@mixin animation{
-webkit-animation: main_titulo 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
animation: main_titulo 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes main_titulo {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes main_titulo {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
