/* NAV ----------*/
.color-nav {
    background-color: $background-general;
}

.pedir-recetas {
    padding-right: 4%;
    text-align: left;
}

.log-topnav {
    width: 50%;
}

.log-nav {
    width: 70%;
}

.log-navsomos {
    width: 64%;
}