/* STYLES GENERALES ------------------------------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-family: 'pp-font';
    font-size: 85.5%;
}

img {
    width: 100%;
}